<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hft.stuttgart.strawberry.snake" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_berry"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GPSingleActivity" />

        <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>
        <!--android:requiresSmallestWidthDp="integer"-->
        <!--android:compatibleWidthLimitDp="integer"-->
        <!--android:largestWidthLimitDp="integer"-->


    </application>

    <!--SDK-Versionen-->
    <uses-sdk android:minSdkVersion="18"
              android:maxSdkVersion="21"
              android:targetSdkVersion="19"/>

</manifest>
